
.sectionCta{
    background-color: var(--gold);
    width: 100%;
}

.containerCta{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.prospectiveText p{
    font-size: 112px;
    line-height: 92px;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    font-family: 'Times New Roman', Times, serif;
}


.containerImgCta{
    position: relative;
    width: 500px;
    top: -80px;
    margin-left: 2%;
}

.containerImgCta img{
    position: absolute;
}



.prospectiveText {
    display: flex;
    align-items: center;
    transition: all 0.45s cubic-bezier(0.76,0,0.24,1);
    transform-style: preserve-3d;
  }
  .prospectiveText p{
    align-self: center;
    transition: all 0.45s cubic-bezier(0.76,0,0.24,1);
  }
  
  .prospectiveText p:nth-child(2){
      position: absolute;
      transform: rotateX(-90deg) translateY(80px);
      transform-origin: bottom center;
  }
  
  .prospectiveText:hover {
    transform: rotateX(90deg);
  }
  
  .prospectiveText p:nth-child(1):hover{
    transform: rotateY(-100%);
    opacity: 0;
  }
  




@media (min-width: 1025px) and (max-width: 1280px) {
    .prospectiveText p{
        font-size: 100px;
        line-height: 82px;
    }

    .containerImgCta{
        position: relative;
        width: 350px;
        top: -80px;
    }

    .containerImgCta img{
        width: 350px;
        height: auto;
    }

    .prospectiveText p:nth-child(2){
        transform: rotateX(-90deg) translateY(75px);
    }
  }


@media (min-width: 768px) and (max-width: 1024px) {
  
    .prospectiveText p{
        font-size: 85px;
        line-height: 72px;
    }

    .containerImgCta{
        position: relative;
        width: 250px;
        top: -50px;
    }

    .containerImgCta img{
        width: 250px;
        height: auto;
    }
    .prospectiveText p:nth-child(2){
        transform: rotateX(-90deg) translateY(60px);
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
  
    .prospectiveText p{
        font-size: 58px;
        line-height: 48px;
    }

    .containerImgCta{
        position: relative;
        width: 180px;
        top: -50px;
    }

    .containerImgCta img{
        width: 180px;
        height: auto;
    }

    .prospectiveText p:nth-child(2){
        transform: rotateX(-90deg) translateY(45px);
    }
}  

@media screen and (max-width: 480px)  {
    .prospectiveText p{
        font-size: 11.5vw;
        line-height: 10.5vw;
    }

    .containerImgCta{
        position: relative;
        width: 45vw;
        top: -50px;
    }

    .containerImgCta img{
        width:  30vw;
        height: auto;
        margin-left: 4%;
    }

    .prospectiveText p:nth-child(2){
        transform: rotateX(-90deg) translateY(30px);
    }
}