.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    margin-left: 10%;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.17);
}

.rotateSvg{
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 .toggleActive .rotateSvg, .toggleActiveLavaggio .rotateSvg, .toggleActiveVendita .rotateSvg{
    transform: rotate(-180deg);
 }

.containerClick{
    width: 100%;
}

 .rowInfo{
    height: 80px;
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-style: italic;
    font-size: 23px;
    line-height: 28px;
    cursor: pointer;
    justify-content: space-between;
 }

 .open{
    height: 0vh;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    transition: all 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: justify;
    justify-content:left;
    padding: 0 30px;
 }

 .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
    height: 280px;
    padding: 25px 30px;
 }

 .toggleActive .rowInfo, .toggleActiveLavaggio .rowInfo, .toggleActiveVendita .rowInfo{
    color: var(--gold);
 }