.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 0 5%;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.17);

    z-index: 2;
}

.rotateSvg{
    transition: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 .toggleActive .rotateSvg, .toggleActiveLavaggio .rotateSvg, .toggleActiveVendita .rotateSvg{
    transform: rotate(-180deg);
 }

.containerClick{
    width: 100%;
}

 .rowInfo{
    height: 80px;
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-style: italic;
    font-size: 23px;
    line-height: 28px;
    cursor: pointer;
    justify-content: space-between;
 }

 .open{
    height: 1px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter:blur(9px);
    
    transition: all 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: justify;
    justify-content:left;
    padding: 0 30px;
 }

 .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
    padding: 25px 30px;
 }
 .toggleActive .open{ height: 270px }
 .toggleActiveLavaggio .open { height: 205px }
 .toggleActiveVendita .open { height: 105px }

 .toggleActive .rowInfo, .toggleActiveLavaggio .rowInfo, .toggleActiveVendita .rowInfo{
    color: var(--gold);
 }


 
 @media (min-width: 1025px) and (max-width: 1280px) {
   .rowInfo{
      height: 75px;
   }

   .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
      padding: 20px 30px;
   }
   
   .toggleActive .open{ height: 335px }
   .toggleActiveLavaggio .open { height: 255px }
   .toggleActiveVendita .open { height: 95px }
 }

 @media (min-width: 768px) and (max-width: 1024px) {
   .rowInfo{
      height: 75px;
      font-size: 21px;
      line-height: 26px;
   }

   .open {
      padding: 0 20px;
   }

   .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
      padding: 15px 20px;
   }

   .toggleActive .open{ height: 320px }
   .toggleActiveLavaggio .open { height: 255px }
   .toggleActiveVendita .open { height: 95px }
 }

 @media (min-width: 481px) and (max-width: 767px){
   .rowInfo{
      height: 75px;
   }
   .column{
      width: 100%;
  }
  .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
   padding: 20px 30px;
}

   .toggleActive .open{ height: 320px }
   .toggleActiveLavaggio .open { height: 250px }
   .toggleActiveVendita .open { height: 95px }

 }
 
 @media screen and (max-width: 480px){
   .rowInfo{
      height: 75px;
      font-size: 21px;
      line-height: 26px;
   }

   .open{
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter:blur(5px);
   }

   .column{
      width: 100%;
  }
   .toggleActive .open, .toggleActiveLavaggio .open, .toggleActiveVendita .open{
      padding: 20px 30px;
   }
   
      .toggleActive .open{ height: 94vw }
      .toggleActiveLavaggio .open { height: 70vw }
      .toggleActiveVendita .open { height: 26vw }

   .column p {
      font-size: 4vw;
      line-height: 6vw;
   }
 }

 @media screen and (max-width: 300px) {
   .toggleActive .open{ height: 105vw }
   .toggleActiveLavaggio .open { height: 80vw }
   .toggleActiveVendita .open { height: 35vw }
 }