.contactForm {
    background-color: #414141;
    width: 100%;
    padding: 15px 50px;
    border-radius: 8px;
}

.contactForm input, .contactForm textarea{
    margin: 10px 0;
    background-color: var(--dark);
    border-style: none;
    height: 45px;
    padding: 10px;
    color: var(--light);
    border-radius: 4px;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
}

.contactForm input:nth-child(1) {
    width: 49%;
    margin-right: 1%;
}
.contactForm input:nth-child(2) {
    width: 49%;
    margin-left: 1%;
}

.contactForm textarea {
    height: 100px;
}

.contactForm button {
    margin: 10px 0;
    background-color: var(--gold);
    height: 40px;
    color: var(--light);
    border-style: none;
    font-size: 17px;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    border-left: 5px solid #866e54;
    cursor: pointer;
    transition: all 0.45s cubic-bezier(0.77,0.2,0.05,1.0); 
    width: 100%;
}
.contactForm button:hover {
    background-color: var(--red);
}

.contactForm .file{
    background-color: #414141;
    text-transform: uppercase;
    font-weight: lighter;
}


.isError {
    border: 1px solid var(--red) !important;
}

.buttonInactive{
    opacity: 0.6;
    background-color: #727272 !important;
    cursor: not-allowed !important;
    border-left: 5px solid var(--red) !important;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .contactForm {
        padding: 15px 40px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .contactForm input:nth-child(1) {
        width: 100%;
        margin-right: 0%;
    }
    .contactForm input:nth-child(2) {
        width: 100%;
        margin-left: 0%;
    }

    .h2Cell {
        font-size: 46px;
        line-height: 46px;
    }


    .contactForm {
        padding: 12px 35px;
        border-radius: 8px;
    }
    
    .contactForm input, .contactForm textarea{
        margin: 8px 0;
        height: 45px;
        padding: 10px;
        letter-spacing: 0.8px;
    }

    .contactForm button {
        height: 35px;
    }

    .contactForm textarea {
        height: 80px;
    }
}

@media screen and (max-width: 480px){
    .contactForm input:nth-child(1) {
        width: 100%;
        margin-right: 0%;
    }
    .contactForm input:nth-child(2) {
        width: 100%;
        margin-left: 0%;
    }

    .h2Cell {
        font-size: 38px;
        line-height: 38px;
    }


    .contactForm {
        padding: 12px 20px;
        border-radius: 8px;
    }
    
    .contactForm input, .contactForm textarea{
        margin: 6px 0;
        height: 45px;
        padding: 10px;
        letter-spacing: 0.5px;
    }

    .contactForm button {
        margin: 10px 0;
        height: 35px;
        font-size: 16px;
    }

    .contactForm textarea {
        height: 80px;
    }
}