.contattiContainer h6 {
    text-align: start;
    padding-bottom: 15px;
}

.contattiContainer li{
    text-decoration: none;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif ;
    list-style: none;
    margin: 15px 0;
    font-size: 18px;
    word-break: break-word;
}

.contattiContainer ul li a{
    display: flex;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0); 
}

.contattiContainer ul li a:hover{
    color: var(--gold);
}

.contattiContainer ul li a img{
    margin-right: 13px;
}

.contattiContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 100px 50px 0 50px;
}

.contattiContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .contattiContainer h6 {
        padding-bottom: 14px;
    }
    .contattiContainer li{
        margin: 15px 0;
        font-size: 17px;
    }

    .contattiContainer ul li a img{
        margin-right: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contattiContainer{
        flex-direction: column;
        align-items: center;
    }

    .contattiContainer h6 {
        padding-bottom: 15px;
    }

    .contattiContainer{
        margin-top: 40px;
        width: 100%;
    }

    .hr {
        margin-bottom: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .contattiContainer{
        flex-direction: column;
        align-items: center;
    }

    .contattiContainer h6 {
        padding-bottom: 15px;
    }

    .contattiContainer{
        margin-top: 40px;
        width: 100%;
    }

    .contattiContainer li{
        font-size: 17px;
    }
    .hr {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 480px){
    .contattiContainer{
        flex-direction: column;
        align-items: center;
    }

    .contattiContainer h6 {
        padding-bottom: 15px;
    }

    .contattiContainer{
        margin-top: 35px;
        width: 100%;
    }

    .contattiContainer li{
        font-size: 15px;
    }

    .contattiContainer ul li a img{
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }
    .hr {
        margin-bottom: 0;
    }
}