.containerElement{
    background-image: linear-gradient(350deg, #1C1C1C 55%, #000000 0%);
    position: relative;
}

.backgroundOverlay{
    background-attachment: fixed;
    filter: brightness(86%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.40;
    mix-blend-mode: screen;
    position: absolute;
}

.shape{
    transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.shape svg {
    height: 330px;
    width: 100%;
    position: relative;
}

.containerCta {
    position: relative;
}

.ctaTitle{
    font-size: 62px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .ctaTitle{
        font-size: 58px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ctaTitle{
        font-size: 52px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .ctaTitle{
        font-size: 42px;
    }
    .containerElement hr{
        margin: 30px 0;
      }
}

@media screen and (max-width: 480px){
    .ctaTitle{
        font-size: 11.6vw;
        line-height: 11.6vw;
    }
    .backgroundOverlay{
        background-attachment:scroll;
        background-position:bottom;
    }

   .containerElement hr{
        margin: 24px 0;
      }
}