.textPage{
    align-items: flex-start;
}

.textPage p {
    margin: 15px 0;
    text-align: justify;
    text-align-last: left;
}

.textPage h2 {
    margin-bottom: 20px;
    text-align: left;
}

.textPage img {
    margin: 10px 0 15px 0;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .textPage h2 {
        margin-bottom: 17px;
    }
    .textPage p:nth-child(4) {
        margin: 13px 0 15px 0;
    }

    .textPage p {
        margin: 13px 0;
    }

    .textPage img {
       max-width: 40%;
       height: auto;
       margin: 10px 0 13px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .textPage h2 {
        margin-bottom: 14px;
    }
    .textPage p:nth-child(4) {
        margin: 11px 0 15px 0;
    }
    .textPage img {
        max-width: 40%;
        height: auto;
        margin: 9px 0 12px 0;
     }

     .textPage p {
        margin: 12px 0;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .textPage h2 {
        margin-bottom: 5px;
    }
    .textPage p:nth-child(4) {
        margin: 8px 0 15px 0;
    }
    .textPage img {
        max-width: 70%;
        height: auto;
        margin: 10px 0 13px 0;
     }
     
     .textPage p {
        margin: 13px 0;
    }
}

@media screen and (max-width: 480px){
    .textPage h2 {
        margin-bottom: 0px;
    }
    .textPage p:nth-child(4) {
        margin: 0px 0 15px 0;
    }

    .textPage img {
        max-width: 100%;
        height: auto;
        margin: 9px 0 12px 0;
     }

     .textPage p {
        margin: 12px 0;
    }
}