.sectionReviews{
    background-image: linear-gradient(40deg, #1D1D1D 33%, #000000 0%);
    border-style: solid;
    border-width: 0 0 60px 0;
    border-color: var(--dark);
    padding: 60px 0;
    position: relative;
}

.backgroundOverlay {
    background-attachment: fixed;
    filter: brightness(53%) contrast(100%) saturate(100%) blur(0) hue-rotate(0deg);
    background-image: url('/tappeto-bergamo-provincia.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .51;
    mix-blend-mode: screen;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.shapeBottom{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
}
.shapeBottom svg{
    height: 159px;
    transform:rotateY(180deg);
    width: 100%;
    position: relative;
}


.containerReviews{
    position: relative;
    align-items: start;
}

.containerReviews h2,  .containerReviews h3{
    text-align: left;
}

.containerReviews a {
    align-self: flex-end;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .containerReviews h2 {
        font-size: 52px;
        line-height: 52px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .containerReviews h2 {
        font-size: 48px;
        letter-spacing: 0.4px;
        line-height: 48px;
      }  
}

@media (min-width: 481px) and (max-width: 767px){
    .containerReviews h2 {
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 40px;
      }  
}

@media screen and (max-width: 480px){
    .containerReviews h2 {
        font-size: 11.5vw;
        letter-spacing: 0.2px;
        line-height: 11.5vw;
      }  
}