.containerHeader{
    background-image: linear-gradient(60deg, #1A1A1A 69%, #000000 0%);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    min-height: 740px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: screen;
    filter: brightness(25%) contrast(99%) saturate(127%) blur(0) hue-rotate(0deg);
}

.gradient {
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: -1px;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gradient svg {
    height: 325px;

    width: 100%;
    position: relative;
}

.shapeFill{
    fill: rgba(28,28,28,0.57);
}

.containerText{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1050px;
    padding-top: 30px;
}

.hr{
    width: 170px;
    height: 1px;
    background-color: var(--gold);
    margin-top: 30px;
}

.containerText h3 {
    letter-spacing: 9px;
}


@media (min-width: 1025px) and (max-width: 1280px) {
    .containerText{
        width: 750px;
        padding-top: 55px;
    }
    .img{
        min-height: 655px; 
    }
    .containerText h3 {
        letter-spacing: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .containerText{
        width: 615px;
        padding-top: 53px;
    }
    .img{
        min-height: 627px;
        background-position:bottom;
        background-attachment:scroll;
    }
    .containerText h3 {
        letter-spacing: 7px;
    }
}

@media screen and (max-width: 767px){
    .containerText{
        width: 85%;
        padding-top: 53px;
    }
    .img{
        min-height: 627px;
        background-position:bottom;
        background-attachment:scroll;
    }

    .hr{
        width: 130px;
        margin-top: 25px;
    }
    .containerText h3 {
        letter-spacing: 5px;
        font-size: 15px;
    }
    
}