.containerHeader{
    background-image: linear-gradient(60deg, #1A1A1A 69%, #000000 0%);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%;
    min-height: 72vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: screen;
    filter: brightness(25%) contrast(99%) saturate(127%) blur(0) hue-rotate(0deg);
}

.gradient {
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: -1px;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gradient svg {
    height: 325px;

    width: 100%;
    position: relative;
}

.shapeFill{
    fill: rgba(28,28,28,0.57);
}

.containerText{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1050px;

}

.subTitle{
   
}